* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  background-color: #e2d4ff;
}

@media(max-width: 500px) {
  .app {
    min-height: 100vh;
  }
}